
---
ipv6_addresses:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  host: {{ list[0]|trim() }}
    loopback20: {{ list[1]|trim() }}
    loopback30: {{ list[2]|trim() }}
    loopback40: {{ list[3]|trim() }}
    loopback50: {{ list[4]|trim() }}

{%   endif %}
{% endfor %}
