!
service timestamps debug datetime msec
service timestamps log datetime msec
! Call-home is enabled by Smart-Licensing.
service call-home
platform qfp utilization monitor load 80
no platform punt-keepalive disable-kernel-core
platform console virtual
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition GS
 rd 100:100
 !
 address-family ipv4
 exit-address-family
!
logging persistent size 1000000 filesize 8192 immediate
!
no aaa new-model
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
  no destination transport-method email
!
!
login on-success log
!
subscriber templating
!
!
multilink bundle-name authenticated
!
!
!
!
crypto ipsec transform-set xform esp-aes 256 esp-sha256-hmac
 mode transport
!
!
crypto ipsec profile ipsec-prof
 set transform-set xform
!
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
interface {{ list[0]|trim() }}
 description {{ list[2]|trim() }}
{%   endif %}
{% endfor %}
!
interface Loopback10
 ip address 10.255.{{ site }}.1 255.255.255.0
!
ip forward-protocol nd
ip tcp window-size 8192
ip http server
ip http authentication local
ip http secure-server
!
ip ssh rsa keypair-name ssh-key
ip ssh version 2
ip scp server enable
!
!
access-list 10 permit 10.10.{{ 255 | random }}.1 0.0.0.255
access-list 20 permit 10.10.{{ 255 | random }}.2 0.0.0.255
!
!
!
!
control-plane
!
!
!
!
!
!
line con 0
 stopbits 1
line vty 0 4
 login local
 transport input ssh
!
!
!
!
!
!
end
