configure terminal
{% for item in ip_interfaces %}
  interface {{ item.interface }}
    description {{ item.description }}
    ipv4 address {{ item.ip }}{{ item.cidr }}
{% if feed.mbps != "" %}
    service-policy input {{ item.mbps }}Mb
    service-policy output {{ item.mbps }}Mb
{% endif %}
    no shutdown
    exit
{% endfor %}
