{% for item in ip_interfaces %}
  interface {{ item.interface }}
    description {{ item.description }}
    ip address {{ item.ip }} {{ item.cidr }}
{% if item.mbps != "" %}
    service-policy input {{ item.mbps }}Mb
    service-policy output {{ item.mbps }}Mb
{% endif %}
    no shutdown
    exit
{% endfor %}
